@page
@model CostumerBase.Presentation.Mvc.Models.ClientViewModel
@{
    
}
<h1>Detalhes do Cliente</h1>

<div>
    <h2>Informações do Cliente</h2>
    <p>Nome: @(Model.Name ?? "N/A")</p>
    <p>Email: @(Model.Email ?? "N/A")</p>
    <p>Logotipo: @(Model.Logotipo ?? "N/A")</p>
    <h2>Endereços do Cliente</h2>
    <table>
        <thead>
            <tr>
                <th>Endereço</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Bairro</th>
                <th>Rua</th>
                <th>Número</th>
                <th>Complemento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Addresses != null)
            {
                @foreach (var address in Model.Addresses)
                {
                    <tr>
                        <td>@(address.Country ?? "N/A")</td>
                        <td>@(address.City ?? "N/A")</td>
                        <td>@(address.State ?? "N/A")</td>
                        <td>@(address.Neighborhood ?? "N/A")</td>
                        <td>@(address.Road ?? "N/A")</td>
                        <td>@(address.Number ?? "N/A")</td>
                        <td>@(address.Complement ?? "N/A")</td>
                        <td>
                            <a href="#">Editar</a> |
                            <a href="#">Excluir</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

