@model List<ClientViewModel>
@{
    
}
<h1>Lista de Clientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Logotipo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.NameClient</td>
                <td>@client.Email</td>
                <td>@client.Logo</td>
                <td>
                    <a asp-controller="Client" asp-action="Details" asp-route-id="@client.Id">Detalhes</a>
                    <a asp-controller="Client" asp-action="Edit" asp-route-id="@client.Id">Editar</a>
                    <a asp-controller="Client" asp-action="Delete" asp-route-id="@client.Id">Excluir</a>
                    <a asp-controller="Client" asp-action="Create"> Inserir Cliente</a>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Endereço</th>
                                <th>Cidade</th>
                                <th>Estado</th>
                                <th>Bairro</th>
                                <th>Rua</th>
                                <th>Número</th>
                                <th>Complemento</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var address in client.AddressClient)
                            {
                                <tr>
                                    <td>@(address.Country ?? "N/A")</td>
                                    <td>@(address.City ?? "N/A")</td>
                                    <td>@(address.State ?? "N/A")</td>
                                    <td>@(address.Neighborhood ?? "N/A")</td>
                                    <td>@(address.Road ?? "N/A")</td>
                                    <td>@(address.Number ?? "N/A")</td>
                                    <td>@(address.Complement ?? "N/A")</td>
                                    <td>
                                        <a asp-page="/Client/Detail" asp-route-id="@address.Id">Criar</a>
                                        <a asp-page="/Client/Edit" asp-route-id="@address.Id">Editar</a> |
                                        <a asp-page="/Client/Delete"  asp-route-id="@address.Id">Excluir</a> |
                                        <a asp-page="/Client/Address" asp-route-id="@address.Id">Detalhes</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>